xml/engagements.xsd

<?xml version="1.0"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

<xs:element name="engagements">
  <xs:complexType>
    <xs:sequence>
      <xs:element name="gig" minOccurs="0" maxOccurs="unbounded">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="venue" type="xs:string" />
            <xs:element name="details" type="xs:string" />
            <xs:element name="date" type="xs:string" />
            <xs:element name="time" type="xs:string" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
</xs:element>

</xs:schema>